// Bohdan

$hoverColor: #d41443;
$secondaryBackgroundColor: #fff5f6;
$secondaryTextColor: #fff;
$firstCardColor: #ffb8ca;
$secondCardColor:  #f0d1a5;
$thirdCardColor: #c2e297;
$primaryTextColor: #000;
$textColor: #907e82;
$borderColor: #e1e1e1;
$secondaryHoverColor: #ECEBEB;
$thirdHoverColor: #C7133E;