ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  margin-top: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

*,
::after,
::before {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

.container {
  max-width: 480px;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.header {
  background-color: pink;
}

.product {
  padding-top: 121px;
  padding-bottom: 96px;
}

.product__subtitle {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin: 0 auto;
  color: #ffb8ca;
}

.product__title {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-size: 34px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #d41443;
  padding-bottom: 31px;
}

.product__name {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding-top: 24px;
}

.product__title {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-size: 34px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #d41443;
  padding-bottom: 31px;
}

.product__name {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding-top: 200px;
}

.product__img {
  position: absolute;
  bottom: 440px;
}

.product__text {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 176%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  padding-right: 40px;
  padding-left: 40px;
}

.product__cream {
  margin-top: 130px;
  position: relative;
  background-color: #ffb8ca;
  border-radius: 24px;
  width: 280px;
}

.product__coffee {
  margin-top: 130px;
  position: relative;
  background-color: #f0d1a5;
  border-radius: 24px;
  width: 280px;
}

.product__milkshakes {
  margin-top: 129px;
  position: relative;
  background-color: #c2e297;
  border-radius: 24px;
  width: 280px;
}

.product__link {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__img {
  display: block;
  justify-content: space-between;
}

.product__item {
  margin: 0 auto;
}

.product__button {
  padding-top: 30px;
  padding-bottom: 41px;
  margin: 0 auto;
  cursor: pointer;
}

@media screen and (min-width: 767px) {
  .product__coffee {
    width: 220px;
  }
  .product__cream {
    width: 220px;
  }
  .product__milkshakes {
    width: 220px;
  }
  .product__subtitle {
    font-size: 26px;
  }
  .product__title {
    font-size: 48px;
  }
  .product__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .product__name {
    padding-top: 140px;
    font-size: 20px;
  }
  .product__text {
    font-size: 14px;
  }
  .product__img {
    bottom: 450px;
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .product__coffee {
    margin-top: 150px;
    width: 329px;
  }
  .product__cream {
    width: 329px;
  }
  .product__milkshakes {
    margin-top: 150px;
    width: 329px;
  }
  .product__name {
    font-size: 30px;
  }
  .product__text {
    font-size: 16px;
  }
  .product__subtitle {
    font-size: 30px;
  }
  .product__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .product__cream {
    background-color: #ffb8ca;
    border-radius: 24px;
    width: 280px;
    margin-top: 144px;
    position: relative;
  }
  .product__coffee {
    background-color: #f0d1a5;
    border-radius: 24px;
    width: 280px;
    position: relative;
  }
  .product__milkshakes {
    background-color: #c2e297;
    border-radius: 24px;
    width: 280px;
    margin-top: 130px;
    position: relative;
  }
  .product__link {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product__item {
    display: flex;
    align-items: center;
  }
  .product__button {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
    cursor: pointer;
  }
}
@media screen and (min-width: 768px) {
  .product__item {
    display: flex;
    margin: 0 auto;
  }
}
.tradition {
  padding-top: 125px;
  padding-bottom: 125px;
  background-color: #fff5f6;
  background-image: url(../img/tradition/background@1x.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .tradition {
    background-image: url("../img/tradition/background@2x.png");
  }
}
.tradition__subtitle {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #ffa5ba;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
}
.tradition__title {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-size: 34px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #d41443;
  padding-bottom: 26px;
}
.tradition__wrap {
  margin: 0 auto;
}
.tradition__image {
  width: 280px;
  height: 279px;
  margin-bottom: 46px;
}
.tradition__text-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tradition__first-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  color: #000;
  padding-bottom: 35px;
  text-align: left;
  max-width: 220px;
}
.tradition__second-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  color: #907e82;
  text-align: left;
  max-width: 220px;
  padding-bottom: 15px;
}
.tradition__third-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  color: #907e82;
  text-align: left;
  max-width: 220px;
}
.tradition__btn-wrap {
  display: flex;
  justify-content: center;
  margin-top: 17px;
}
.tradition__btn {
  background-color: #fff;
  border: none;
  border-radius: 22px;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: #d41443;
  padding: 15px 37px;
  width: 176px;
  height: 44px;
  cursor: pointer;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}
.tradition__btn:hover {
  background-color: #d41443;
  color: #fff;
}
.tradition__list {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.tradition__icon-one {
  width: 33px;
  height: 50px;
  margin-top: 38px;
}
.tradition__icon-two {
  width: 50px;
  height: 50px;
  margin-top: 38px;
}
.tradition__icon-three {
  width: 44px;
  height: 50px;
  margin-top: 38px;
}
.tradition__number {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-size: 36px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  padding-top: 16px;
}
.tradition__describe {
  padding-top: 20px;
  font-weight: 700;
  font-size: 12px;
  line-height: 170%;
  color: #000;
  max-width: 230px;
}

@media screen and (min-width: 768px) {
  .tradition {
    padding-top: 130px;
    padding-bottom: 310px;
    background-image: none;
  }
  .tradition__subtitle {
    font-size: 26px;
  }
  .tradition__title {
    font-size: 48px;
    padding-bottom: 100px;
  }
  .tradition__wrap {
    display: flex;
    justify-content: space-around;
  }
  .tradition__image {
    width: 340px;
    height: 339px;
  }
  .tradition__text-wrap {
    align-items: normal;
  }
  .tradition__first-text {
    font-size: 14px;
    line-height: 176%;
    max-width: 340px;
  }
  .tradition__second-text, .tradition__third-text {
    font-size: 14px;
    line-height: 176%;
    max-width: 340px;
  }
  .tradition__btn-wrap {
    margin-top: 62px;
    justify-content: flex-start;
  }
  .tradition__list {
    flex-direction: row;
    justify-content: space-around;
  }
  .tradition__number {
    font-size: 48px;
    display: block;
    padding-top: 36px;
  }
  .tradition__describe {
    font-size: 14px;
    line-height: 174%;
    max-width: 180px;
  }
}
@media screen and (min-width: 1200px) {
  .tradition {
    padding-top: 125px;
    padding-bottom: 285px;
    background-image: url(../img/tradition/background@1x.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .tradition {
    background-image: url("../img/tradition/background@2x.png");
  }
}
@media screen and (min-width: 1200px) {
  .tradition__subtitle {
    font-size: 30px;
  }
  .tradition__title {
    font-size: 58px;
    padding-bottom: 106px;
  }
  .tradition__image {
    width: 516px;
    height: 516px;
  }
  .tradition__first-text {
    font-size: 16px;
    max-width: 463px;
  }
  .tradition__second-text, .tradition__third-text {
    line-height: 194%;
  }
  .tradition__number {
    font-size: 58px;
    padding-top: 40px;
  }
  .tradition__describe {
    font-size: 16px;
    line-height: 176%;
    max-width: 330px;
  }
}
.tradition__num-wrap {
  display: flex;
}

.photo {
  position: relative;
  bottom: 50px;
  display: flex;
  justify-content: center;
}

.photo__wrap {
  width: 364px;
  height: 122px;
}

@media screen and (min-width: 768px) {
  .photo {
    bottom: 105px;
  }
  .photo__wrap {
    width: 786px;
    height: 264px;
  }
}
@media screen and (min-width: 1200px) {
  .photo {
    bottom: 170px;
    justify-content: baseline;
  }
  .photo__wrap {
    width: 1280px;
    height: 430px;
  }
}
.reviews__img {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.reviews__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 255%;
  text-align: center;
  color: #000;
  width: 157px;
  margin: 0 auto;
  text-decoration: underline;
  text-decoration-color: #e1e1e1;
  text-decoration-thickness: 2px;
  z-index: 1;
  display: block;
  position: relative;
}

.three-point {
  margin-top: 50px;
  margin: 0 auto;
}

.reviews__background-img {
  position: relative;
  left: 110px;
  top: 25px;
  z-index: 0;
}

.home {
  fill: #D31342;
  transition-duration: 450ms;
  cursor: pointer;
}

.home:hover {
  fill: #d9d9d9;
}

.reviews__list-icon {
  width: 75px;
  display: flex;
  justify-content: space-between;
}

.point {
  fill: #d9d9d9;
  transition-duration: 450ms;
  cursor: pointer;
}

.point:hover {
  fill: #D31342;
}

.reviews__wrap-text {
  margin-top: 18px;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 186%;
  color: #000;
}

.reviews__wrap-second {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.reviews__icon {
  width: 73px;
  display: flex;
  justify-content: space-between;
}

.home {
  fill: #D31342;
  transition-duration: 450ms;
}

.home:hover {
  fill: #d9d9d9;
}

.point {
  fill: #d9d9d9;
  transition-duration: 450ms;
}

.point:hover {
  fill: #D31342;
}

.reviews {
  padding-bottom: 86px;
}

@media screen and (min-width: 768px) {
  .reviews__text {
    font-size: 14px;
    line-height: 216%;
    width: 460px;
  }
  .reviews__img {
    margin-bottom: 66px;
  }
  .reviews__wrap-text {
    font-size: 16px;
    margin-bottom: 35px;
    margin-top: 14px;
  }
  .three-point {
    margin-top: 58px;
  }
  .reviews__wrap-second {
    margin-top: 52px;
  }
  .reviews__background-img {
    position: relative;
    left: 120px;
    top: 25px;
  }
  .reviews {
    padding-bottom: 119px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews__text {
    font-size: 16px;
    line-height: 186%;
    letter-spacing: 0.04em;
    width: 750px;
  }
  .reviews__wrap-second {
    margin-top: 47px;
  }
  .reviews__wrap-text {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 35px;
  }
  .reviews__img {
    margin-bottom: 62px;
  }
  .three-point {
    margin-top: 47px;
  }
  .reviews__background-img {
    position: relative;
    left: 175px;
    top: 25px;
  }
  .reviews {
    padding-bottom: 132px;
  }
}
.card {
  background-color: #ffffff;
  border-radius: 24px;
  box-shadow: 0 8px 30px 0 rgba(212, 20, 67, 0.1);
  padding: 43px 20px;
  width: 220px;
}

.cards {
  padding-bottom: 82px;
  background-color: #fff5f6;
}

.card__button {
  margin-top: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card__first-button {
  padding-left: 14px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 20px;
  font-weight: 700;
  font-size: 16px;
  border-radius: 22px;
  background-color: #d41443;
  border: none;
  color: #fff;
}

.card__svg-first {
  margin-left: 12px;
  fill: #fff;
}

.card__second-button {
  margin-top: 10px;
  padding-left: 32px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 31px;
  font-weight: 700;
  font-size: 16px;
  border-radius: 22px;
  background-color: #fff;
  border: none;
  color: #d41443;
}

.card__svg-second {
  margin-left: 12px;
  fill: #d41443;
}

.card__city {
  margin-bottom: 3px;
}

.card__pink {
  color: #ffb8ca;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
}

.card__list-pink {
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
}

.card__first-list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.cards {
  display: flex;
}

.card__city {
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0.04em;
  margin-top: 25px;
}

.card__list-city {
  margin-top: 0;
  padding-top: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0.04em;
}

.card__span {
  margin-bottom: 25px;
  border-radius: 4px;
  padding: 2px 35px;
  background-color: #f0d1a5;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}

.card__title {
  margin-bottom: 25px;
  border-radius: 4px;
  padding: 2px 20px;
  background-color: #c2e297;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
}

.card__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #907e82;
  padding-bottom: 25px;
  opacity: 0.7;
  border-bottom: 1px solid #e1e1e1;
}

.card__list-telephone {
  margin-top: 25px;
}

.card__telephone {
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #907e82;
}

.card__email {
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #907e82;
}

.card__citys {
  margin-bottom: 14px;
  margin-top: 25px;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0.04em;
}

@media screen and (max-width: 768px) {
  .card {
    border-radius: 24px;
    margin: 0;
    margin-bottom: 20px;
  }
  .card__pinks {
    color: #ffb8ca;
  }
  .card__pink {
    color: #ffb8ca;
  }
  .card__city {
    margin-bottom: 3px;
  }
  .card__citys {
    margin-bottom: 14px;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    letter-spacing: 0.04em;
  }
  .card__span {
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: #f0d1a5;
    color: #fff;
  }
  .card__title {
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: #c2e297;
    color: #fff;
  }
  .card__text {
    opacity: 0.7;
  }
  .card__telephone {
    color: black;
    opacity: 0.7;
  }
  .card__email {
    color: black;
    opacity: 0.7;
  }
}
.footer {
  padding-top: 113px;
  background-color: #fff5f6;
}

.footer__text {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffb8ca;
  width: 218px;
  margin-bottom: 20px;
}

.footer__title {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-size: 34px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  width: 165px;
  margin-bottom: 43px;
}

.footer__svg {
  fill: #fff;
}

.footer__link {
  background-color: #FEA5BB;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 450ms;
  display: flex;
}

.footer__link:hover {
  background-color: #d41443;
}

.footer__wrap:hover > p {
  color: #d41443;
}

.footer__link {
  background-color: #FEA5BB;
  border-radius: 100%;
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  transition-duration: 450ms;
}

.footer__link:hover {
  background-color: #d41443;
}

.footer__wrap-text:hover > .footer__phone {
  color: #000;
}

.footer__list {
  display: flex;
  justify-content: end;
  margin-bottom: 46px;
}

.footer__item:not(:last-child) {
  margin-right: 28.24px;
}

.footer__wrap-text {
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  text-align: right;
  color: #000;
  margin-bottom: 43px;
  transition-duration: 450ms;
  cursor: pointer;
}

.footer__phone {
  color: #d41443;
  transition-duration: 450ms;
}

.footer__rights {
  border-top: 1px solid #e1e1e1;
  padding-top: 20px;
  padding-bottom: 27px;
}

.footer__rights-text {
  color: #907e82;
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  text-align: center;
  width: 139px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .footer__first-wrap {
    display: flex;
    align-items: start;
    justify-content: space-around;
  }
  .footer__list {
    display: flex;
  }
  .footer__text {
    margin-bottom: 16px;
    font-size: 26px;
    letter-spacing: 0.04em;
    width: 340px;
  }
  .footer__rights-text {
    width: 300px;
    line-height: 186%;
    letter-spacing: 0.02em;
  }
  .footer__rights {
    padding-top: 22px;
    padding-bottom: 25px;
  }
  .footer__title {
    font-size: 48px;
    letter-spacing: 0.06em;
    margin-bottom: 91px;
  }
  .footer__wrap-text {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__text {
    margin-bottom: 15px;
    font-size: 30px;
    width: 472px;
  }
  .footer__list {
    margin-bottom: 50px;
  }
  .footer__rights {
    padding-top: 9px;
    padding-bottom: 11px;
  }
  .footer__title {
    font-size: 58px;
    margin-bottom: 97px;
    width: 500px;
  }
  .footer__wrap-text {
    font-size: 16px;
  }
}/*# sourceMappingURL=main.css.map */