<section class="card">
    <div class="container">
        <div class="card">
            <ul>
                <li class="label">CAFE</li>
                <li class="city">Chicago</li>
                <li class="text">Fusce ut velit laoreet, tempus arcu molestie vulputate</liv>
            </ul>
                <div class="hours">
                <ul>
                <li>Monday - Friday</li>
                <li>06:00 AM - 10:00 PM</li>
                <li>Saturday - Sunday</li>
                <li>08:00 AM - 16:00 PM</li>
                </ul>
            </div>
            <div class="contact">
                <a>+61(0) 383 766 284</a>
                <a>noreply@envato.com</a>
            </div>
  
    <div class="card">
        <ul>
            <li class="label">FOOD TRACK</li>
            <li class="city">Los Angeles</li>
            <li class="text">Fusce ut velit laoreet, tempus arcu molestie vulputate</liv>
        </ul>
        <div class="hours">
            <ul>
            <li>Monday - Friday</li>
            <li>06:00 AM - 10:00 PM</li>
            <li>Saturday - Sunday</li>
            <li>08:00 AM - 16:00 PM</li>
            </ul>
        </div>
        <div class="contact">
            <a>+61(0) 383 766 284</a>
            <a>noreply@envato.com</a>
        </div>
  
            <div class="card">
                <ul>
                    <li class="label">CAFE</li>
                    <li class="city">New York</li>
                    <li class="text">Fusce ut velit laoreet, tempus arcu molestie vulputate</liv>
                </ul>
                <div class="hours">
                    <ul>
                    <li>Monday - Friday</li>
                    <li>06:00 AM - 10:00 PM</li>
                    <li>Saturday - Sunday</li>
                    <li>08:00 AM - 16:00 PM</li>
                    </ul>
                </div>
                <div class="contact">
                    <a>+61(0) 383 766 284</a>
                    <a>noreply@envato.com</a>
                </div>
            </div>
</section>