<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card">
        <div class="label">CAFE</div>
        <div class="location">Chicago</div>
        <div class="description">Fusce ut velit laoreet, tempus arcu molestie vulputate</div>
        <div class="hours">
            <p>Monday - Friday</p>
            <p>06:00 AM - 10:00 PM</p>
            <p>Saturday - Sunday</p>
            <p>08:00 AM - 16:00 PM</p>
        </div>
        <div class="contact">
            <p>+61(0) 383 766 284</p>
            <p>noreply@envato.com</p>
        </div>
    </div>
  
      <div class="card">
        <div class="label">FOOD TRUCK</div>
        <div class="location">Los Angeles</div>
        <div class="description">Fusce ut velit laoreet, tempus arcu molestie vulputate</div>
        <div class="hours">
            <p>Monday - Friday</p>
            <p>06:00 AM - 10:00 PM</p>
            <p>Saturday - Sunday</p>
            <p>08:00 AM - 16:00 PM</p>
        </div>
        <div class="contact">
            <p>+61(0) 383 766 284</p>
            <p>noreply@envato.com</p>
        </div>
    </div>
  
            <div class="card">
                <div class="label">CAFE</div>
                <div class="location">New York</div>
                <div class="description">Fusce ut velit laoreet, tempus arcu molestie vulputate</div>
                <div class="hours">
                    <p>Monday - Friday</p>
                    <p>06:00 AM - 10:00 PM</p>
                    <p>Saturday - Sunday</p>
                    <p>08:00 AM - 16:00 PM</p>
                </div>
                <div class="contact">
                    <p>+61(0) 383 766 284</p>
                    <p>noreply@envato.com</p>
                </div>
            </div>
</body>
</html>