<section class="cards">
  <div class="container">
    <ul class="card__first-list">
      <li class="card">
        <ul class="card__list">
          <li class="card__list-item"><span class="card__span">CAFE</span></li>
          <li class="card__list-item"><p class="card__city">Chicago</p></li>
          <li class="card__list-item">
            <p class="card__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="card__list-item">
            <p class="card__city">Monday - Friday</p>
          </li>
          <li class="card__list-item">
            <p class="card__pink">06:00 AM - 10:00 PM</p>
          </li>
          <li class="card__list-item">
            <p class="card__city">Saturday - Sunday</p>
          </li>
          <li class="card__list-item">
            <p class="card__pink">08:00 AM - 16:00 PM</p>
          </li>
          <li class="card__list-item">
            <a class="footer__phone" href="tel:+61(0)383766284"
              >+61 (0) 383 766 284</a
            >
          </li>
          <li class="card__list-item">
            <a class="card__email" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>

      <li class="card">
        <ul class="card__list">
          <li class="card__list-item">
            <span class="card__title">FOOD TRUCK</span>
          </li>
          <li class="card__list-item"><p class="card__city">Los Angeles</p></li>
          <li class="card__list-item">
            <p class="card__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="card__list-item">
            <p class="card__city">Monday - Friday</p>
          </li>
          <li class="card__list-item">
            <p class="card__pink">06:00 AM - 10:00 PM</p>
          </li>
          <li class="card__list-item">
            <p class="card__city">Saturday - Sunday</p>
          </li>
          <li class="card__list-item">
            <p class="card__pink">08:00 AM - 16:00 PM</p>
          </li>
          <li class="card__list-item">
            <a class="card__telephone" href="tel:+61(0)383766284"></a>
          </li>
          <li class="card__list-item">
            <a class="card__email" href="noreply@envato.com"></a>
          </li>
        </ul>
      </li>

      <li class="card">
        <ul class="card__list">
          <li class="card__list-item"><span class="card__span">CAFE</span></li>
          <li class="card__list-item"><p class="card__city">New York</p></li>
          <li class="card__list-item">
            <p class="card__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="card__list-item">
            <p class="card__city">Monday - Friday</p>
          </li>
          <li class="card__list-item">
            <p class="card__pink">06:00 AM - 10:00 PM</p>
          </li>
          <li class="card__list-item">
            <p class="card__city">Saturday - Sunday</p>
          </li>
          <li class="card__list-item">
            <p class="card__pink">08:00 AM - 16:00 PM</p>
          </li>
          <li class="card__list-item">
            <a class="card__telephone" href="tel:+61(0)383766284"></a>
          </li>
          <li class="card__list-item">
            <a class="card__email" href="noreply@envato.com"></a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
