<footer class="footer">
  <div class="container">
    <div class="footer__first-wrap">
      <div class="footer__passion">
        <p class="footer__text">homemade ice cream made</p>
        <h2 class="footer__title">with passion</h2>
      </div>
      <div class="footer__second-wrap">
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" href="#">
              <svg class="footer__svg" width="25px" height="25px">
                <use href="../img/symbol-defs.svg#icon-github-icon"></use>
              </svg>
            </a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">
              <svg class="footer__svg" width="25px" height="20px">
                <use href="../img/symbol-defs.svg#icon-telegram-icon"></use>
              </svg>
            </a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">
              <svg class="footer__svg" width="14px" height="25px">
                <use href="../img/symbol-defs.svg#icon-facebook-icon"></use>
              </svg>
            </a>
          </li>
        </ul>
        <div class="footer__wrap">
          <p class="footer__wrap-text">
            Feel free to contact
            <a class="footer__phone" href="tel:+61(0)383766284"
              >+61 (0) 383 766 284</a
            >
          </p>
        </div>
      </div>
    </div>
    <div class="footer__rights">
      <p class="footer__rights-text">© 2024 - IceCream. All Rights Reserved.</p>
    </div>
  </div>
</footer>
