<header class="header">
  <div class="header__container container">
    <div class="header__logo">
      <picture class="logo">
        <source srcset="img/header/logo@1x.png 1x, img/header/logo@2x.png 2x"
                type="image/png" />
        <source srcset="img/header/logo@1x.webp 1x, img/header/logo@2x.webp 2x"
                type="image/webp" />
        <img src="../img/header/logo@1x.png"
             alt="logo" />
      </picture>
      <button class="header__burger-button js-open-menu">
        <svg class="header__burger"
             width="20px"
             height="12px"
             aria-expanded="false"
             aria-controls="mobile-menu">
          <use href="./img/symbol-defs.svg#icon-burger-open">
          </use>
        </svg>
      </button>
    </div>
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a class="header__nav-link"
             href="#">Home</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link"
             href="#">About</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link"
             href="#">How it`s made?</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link"
             href="#">Our products</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link"
             href="#">Contact</a>
        </li>
      </ul>
    </nav>
    <button class="header__button">
      Buy now  >
    </button>
    <div class="header__text-button">
      <h1 class="header__white-text">
        ice cream made with<span class="header__red-text">passion</span>
      </h1>
      <button class="header__red-button">Products</button>
      <button class="header__white-button">How it’s made?</button>
    </div>
    <div class="menu-container js-menu-container" 
         id="mobile-menu" >
      <button class="menu-toggle js-close-menu"  >
        <svg class="mobile-menu__icon-close"
             width="16" height="16">
          <use href="./img/symbol-defs.svg#icon-burger-close"></use>
        </svg>
      </button>
        <div class="mobile__button-wraper">
          <button class="mobile__button">Buy now ></button>
        </div>
      <ul class="mobile__list">
        <li class="mobile__item">
          <a href="#"
             class="mobile__link">Home</a>
        </li>
        <li class="mobile__item">
          <a href="#"
             class="mobile__link">About</a>
        </li>
        <li class="mobile__item">
          <a href="#"
             class="mobile__link">How it`s made?</a>
        </li>
        <li class="mobile__item">
          <a href="#"
             class="mobile__link">Our products</a>
        </li>
        <li class="mobile__item">
          <a href="#"
             class="mobile__link">Contact</a>
        </li>
      </ul>
    </div>
    <div class="header__desktop">
      <ul class="header__number-list">
        <li class="header__number-item">
          <div class="header__circle"></div>
          <h2 class="header__number">16</h2>
          <p class="header__text">cafes</p>
        </li>
        <li class="header__number-item">
          <div class="header__circle"></div>
          <h2 class="header__number">23</h2>
          <p class="header__text">food trucks</p>
        </li>
      </ul>
      <div class="header__milk">
        <picture class="milk">
          <source srcset="img/header/milk@1x.png 1x, img/header/milk@2x.png 2x"
                  type="image/png" />
          <source srcset="img/header/milk@1x.webp 1x, img/header/milk@2x.webp 2x"
                  type="image/webp" />
          <img src="../img/header/milk@1x.png"
               alt="milk" />
        </picture>
      </div>
      <div class="header__main-info">
        <p class="header__main-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et
        </p>
        <svg class="header__icon"
             width="26"
             height="26">
          <use href="./img/svg/arrow-right.png"></use>
        </svg>
      </div>
      <div class="header__girl">
        <picture class="tasty">
          <source srcset="img/header/tasty@1x.png 1x, img/header/tasty@2x.png 2x"
                  type="image/png" />
          <source srcset="img/header/tasty@1x.webp 1x, img/header/tasty@2x.webp 2x"
                  type="image/webp" />
          <img src="../img/header/tasty@1x.png"
               alt="girl" />
        </picture>
      </div>
    </div>
  </div>
</header>
