<header class="header">
    <picture class="header__logo">
        <source srcset="./img/header/logo@1x.png 1x, ./img/header/logo@2x.png 2x"
                media="(min-width: 1143px)">
        <source srcset="./img/header/logo@1x.webp 1x, ./img/header/logo@2x.webp 2x"
                media="(min-width: 480px)">
        <img src="../img/header/ice-cream@1x.png"
             alt="logo">
    </picture>
    <ul class="header__list">
        <li>Home</li>
        <li>About</li>
        <li>How it`s made?</li>
        <li>Our products</li>
        <li>Contract</li>
    </ul>
    <button class="header__button">Buy now 
    <svg class="header__icon"
         width="6" height="10">
        <use href="../img/symbol-defs.svg#icon-close-menu"></use>
    </svg>
    </button>
    <div class="header__text-button">
    <h2 class="header__white-text">ice cream
    made with</h2>
    <h2 class="header__red-text">passion</h2>
    <button class="header__white-button">Products</button>
    <button class="header__red-button">How it’s made?</button>
    </div>
</header>