<section class="photo">
  <div class="container">
    <div class="photo__wrap">
      <picture class="photo__image">
        <source
          data-aos="flip-left"
          srcset="
            ./img/photos/background@1x.png 1x,
            ./img/photos/background@2x.png 2x
          "
          type="image/png"
        />
        <source
          data-aos="flip-left"
          srcset="
            ./img/photos/background@1x.webp 1x,
            ./img/photos/background@2x.webp 2x
          "
          type="image/webp"
        />
        <img
          data-aos="flip-left"
          src="../img/photos/background@1x.png"
          alt="photos"
        />
      </picture>
    </div>
  </div>
</section>
