<section class="product">
  <div class="container">
    <h2 class="product__subtitle">100% NATURAL</h2>
    <h1 class="product__title">PRODUCTS</h1>
    <ul class="product__item">
      <li class="product__cream">
        <picture class="product__img">
          <source srcset="./img/product/first-card@1x.png, ./img/product/first-card@2x.png " type="image/png">
          <source srcset="./img/product/first-card@1x.webp, ./img/product/first-card@2x.webp," type="image/webp">
          <img src="../img/product/first-card@1x.png" alt="">
        </picture>
        <h3 class="product__name">ICE CREAM</h3>
        <span class="product__link"><svg width="26" height="6" viewBox="0 0 26 6" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <circle cx="13" cy="3" r="3" fill="white" />
            <circle cx="3" cy="3" r="3" fill="white" />
            <circle cx="23" cy="3" r="3" fill="white" />
          </svg>
        </span>
        <p class="product__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et. dolore magna aliqua facilisis. </p>
        <img class="product__button" src="../img/svg/arrow-right.png" alt="">
      </li>
      <li class="product__coffee">
        <picture class="product__img">
          <source srcset="./img/product/second-card@1x.png, ./img/product/second-card@2x.png" type="image/png">
          <source srcset="./img/product/second-card@1x.webp, ./img/product/second-card@2x.webp" type="image/webp">
          <img src="../img/product/second-card@1x.png" alt="">
        </picture>
        <h3 class="product__name">ICE COFFEE</h3>
        <span class="product__link"><svg width="26" height="6" viewBox="0 0 26 6" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <circle cx="13" cy="3" r="3" fill="white" />
            <circle cx="3" cy="3" r="3" fill="white" />
            <circle cx="23" cy="3" r="3" fill="white" />
          </svg>
        </span>
        <p class="product__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et. dolore magna aliqua facilisis.</p>
        <img class="product__button" src="../img/svg/arrow-right.png" alt="">
      </li>
      <li class="product__milkshakes">
        <picture class="product__img">
          <source srcset="./img/product/third-card@1x.png, ./img/product/third-card@2x.png" type="image/png">
          <source srcset="./img/product/third-card@1x.webp, ./img/product/third-card@2x.webp" type="image/webp">
          <img src="../img/product/third-card@1x.png" alt="">
        </picture>
        <h3 class="product__name">MILKSHAKES</h3>
        <span class="product__link"><svg width="26" height="6" viewBox="0 0 26 6" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <circle cx="13" cy="3" r="3" fill="white" />
            <circle cx="3" cy="3" r="3" fill="white" />
            <circle cx="23" cy="3" r="3" fill="white" />
          </svg>
        </span>
        <p class="product__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et. dolore magna aliqua facilisis.</p>
        <img class="product__button" src="../img/svg/arrow-right.png" alt="">
      </li>
    </ul>
  </div>
</section>