<section class="product">
    <div class="container">
        <span class="product__subtitle">100% NATURAL</span>
        <h1 class="product__title">PRODUCTS</h1>
            <ul class="product__item">
              <li class="product__cream">
                 <img src="" alt="">
                 <h2 class="product__name">ICE CREAM</h2>
                 <span class="product__link">...</span>
                  <p class="product__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                  <button class="product__btn" type="button"></button>
              </li>
              <li class="product__coffee">
                 <img src="" alt="">
                 <h2 class="product__name">ICE COFFEE</h2>
                 <span class="product__link">...</span>
                 <p class="product__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
                 <button class="product__btn" type="button"></button>
              </li>
              <li class="product__milkshakes">
                <img src="" alt="">
                <h2 class="product__name">MILKSHAKES</h2>
                <span class="product__link">...</span>
                <p class="product__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
                <button class="product__btn" type="button"></button>
              </li>
            </ul>
    </div>
</section>