<section class="product">
    <div class="container">
        <span class="product__subtitle">100% NATURAL</span>
        <h1 class="product__title">PRODUCTS</h1>
            <ul class="product__item">
              <li class="product__cream">
                <picture class="product__img">
                  <source srcset="./img/product/first-card@1x.png, ./img/product/first-card@2x.png " type="image/png">
                  <source srcset="./img/product/first-card@1x.webp, ./img/product/first-card@2x.webp," type="image/webp">
                  <img src="../img/product/first-card@1x.png" alt="">
                </picture>
                 <h2 class="product__name">ICE CREAM</h2>
                 <span class="product__link">...</span>
                  <p class="product__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                  <button class="product__btn" type="button"></button>
              </li>
              <li class="product__coffee">
                <picture class="product__img">
                  <source srcset="./img/productsecond-card@1x.png, ./img/productsecond-card@2x.png" type="image/png">
                  <source srcset="./img/productsecond-card@1x.webp, ./img/productsecond-card@2x.webp" type="image/webp">
                  <img src="../img/product/second-card@1x.png" alt="">
                </picture>
                 <h2 class="product__name">ICE COFFEE</h2>
                 <span class="product__link">...</span>
                 <p class="product__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
                 <button class="product__btn" type="button"></button>
              </li>
              <li class="product__milkshakes">
                <picture class="product__img">
                  <source srcset="./img/product/third-card@1x.png, ./img/product/third-card@2x.png" type="image/png">
                  <source srcset="./img/product/third-card@1x.webp, ./img/product/third-card@2x.webp" type="image/webp">
                  <img src="../img/product/third-card@1x.png" alt="">
                </picture>
                <h2 class="product__name">MILKSHAKES</h2>
                <span class="product__link">...</span>
                <p class="product__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
                <button class="product__btn" type="button"></button>
              </li>
            </ul>
    </div>
</section>