<section class="reviews">
    <div class="container">
        <picture class="reviews__img">
            <source srcset="./img/reviews/smile-girl.png" type="image/png">
            <source srcset="./img/reviews/smile-girl.webp" type="image/webp">
            <img src="../img/reviews/smile-girl.png" alt="">
        </picture>
        <ul class="reviews__item">
            <li class="reviews__list">
            <img src="../img/reviews/background.png" alt="">
            <p class="reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            <svg class="reviews__link">
                <use href="../img/svg/three-point.png"></use>
            </svg>
            </li>
        </ul>
    </div>
</section>