<section class="reviews">
  <div class="container">
    <picture class="reviews__img">
      <source srcset="./img/reviews/smile-girl.png" type="image/png" />
      <source srcset="./img/reviews/smile-girl.webp" type="image/webp" />
      <img src="../img/reviews/smile-girl.png" alt="smile-girl" />
    </picture>
    <ul class="reviews__item">
      <li class="reviews__list">
        <img
          class="reviews__background-img"
          src="../img/reviews/background.png"
          alt="background"
        />
        <p class="reviews__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
      </li>
    </ul>
    <div class="reviews__wrap-second">
      <img
        class="three-point"
        src="../img/svg/three-point.png"
        alt="three-point"
      />
      <p class="reviews__wrap-text">Emily, Los Angeles</p>
      <svg width="72px" height="12px">
        <use href="./img/symbol-defs.svg#icon-slider"></use>
      </svg>
    </div>
  </div>
</section>
