<section class="reviews">
  <div class="container">
    <picture class="reviews__img">
      <source srcset="./img/reviews/smile-girl.png" type="image/png" />
      <source srcset="./img/reviews/smile-girl.webp" type="image/webp" />
      <img src="../img/reviews/smile-girl.png" alt="smile-girl" />
    </picture>
    <ul class="reviews__item">
      <li class="reviews__list">
        <picture class="tradition__cow">
          <source
            srcset="
              ./img/reviews/background@1x.png 1x,
              ./img/reviews/background@2x.png 2x
            "
            type="image/png"
          />
          <img
            class="reviews__background-img"
            src="../img/reviews/background@1x.png"
            alt="background"
          />
        </picture>
        <p class="reviews__text">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
      </li>
    </ul>
    <div class="reviews__wrap-second">
      <div class="reviews__three-list">
        <div class="reviews__three-point"></div>
        <div class="reviews__three-point"></div>
        <div class="reviews__three-point"></div>
      </div>
      <p class="reviews__wrap-text">Emily, Los Angeles</p>
      <ul class="reviews__icon">
        <li class="reviews__icon-item">
          <svg class="home" width="13px" height="12px">
            <use href="./img/symbol-defs.svg#icon-reveiws-home"></use>
          </svg>
        </li>
        <li class="reviews__icon-item">
          <svg class="point" width="12px" height="12px">
            <use href="./img/symbol-defs.svg#icon-reviews-point"></use>
          </svg>
        </li>
        <li class="reviews__icon-item">
          <svg class="point" width="12px" height="12px">
            <use href="./img/symbol-defs.svg#icon-reviews-point"></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</section>
