<section class="tradition">
  <div class="container">
    <span class="tradition__subtitle">tradition and love</span>
    <h2 class="tradition__title">how it’s made?</h2>
    <div class="tradition__wrap">
      <div class="tradition__image">
        <picture>
          <source srcset="../src/img/tradition/cow@1x.png 1x, ../src/img/tradition/cow@2x.png 2x" type="image/png">
          <source srcset="../src/img/tradition/cow@1x.webp 1x, ../src/img/tradition/cow@2x.webp 2x" type="image/webp">
          <img src="../src/img/tradition/cow@1x.png" alt="cow">
        </picture>
      </div>
      <p class="tradition__first-text">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
        cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
        justo fringilla.
      </p>
      <p class="tradition__second-text">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
        Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
        suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
        tincidunt. 
        <span class="tradition__third-text"> Aliquam erat volutpat. Aenean accumsan.</span>
      </p>
      <div class="tradition__btn-wrap">
        <button class="tradition__btn">Read more</button>
      </div>
    </div>
    <ul class="tradition__list">
      <li class="tradition__item">
        <div class="tradition__icon-wrap">
          <img src=".../src/img/svg/cow-bucket.png" alt="">
        </div>
        <h2 class="tradition__number">721</h2>
        <p class="tradition__describe">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="tradition__item">
        <div class="tradition__icon-wrap">
          <img src=".../src/img/svg/apple-bucket.png" alt="">
        </div>
        <h2 class="tradition__number">16KG</h2>
        <p class="tradition__describe">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="tradition__item">
        <div class="tradition__icon-wrap">
          <img src=".../src/img/svg/candy.png" alt="">
        </div>
        <h2 class="tradition__number">84</h2>
        <p class="tradition__describe">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
