<section class="tradition">
  <div class="container">
    <span data-aos="fade-up" class="tradition__subtitle">tradition and love</span>
    <h2 data-aos="fade-up" class="tradition__title">how it’s made?</h2>
    <div class="tradition__wrap">
      <div class="tradition__image">
        <picture class="tradition__cow">
          <source
            srcset="
              ./img/tradition/cow@1x.png 1x,
              ./img/tradition/cow@2x.png 2x
            "
            type="image/png"
          />
          <source
            srcset="
              ./img/tradition/cow@1x.webp 1x,
              ./img/tradition/cow@2x.webp 2x
            "
            type="image/webp"
          />
          <img src="../img/tradition/cow@1x.png" alt="cow" />
        </picture>
      </div>
      <div class="tradition__text-wrap">
        <p class="tradition__first-text">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <p class="tradition__second-text">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.
        </p>
        <span class="tradition__third-text">
          Aliquam erat volutpat. Aenean accumsan.</span
        >
        <div data-aos="fade-left" class="tradition__btn-wrap">
          <button class="tradition__btn" type="button" data-modal-open>
            Read more
            <svg class="tradition__arrow" width="8px" height="12px">
              <use href="./img/symbol-defs.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <!--Modal window-->
    <div class="backdrop is-hidden" data-modal> 
      <div class="modal">
          <button data-modal-close type="button" class="modal__close-button">
               <svg class="modal__icon" width="18" height="18">
                  <use href="./img/svg/symbol-defs.svg#icon-cross"></use>
              </svg> 
          </button>
          <ul class="modal__list">
            <li class="modal__item">
              <h2 class="modal__title">Ingredients</h2>
              <ul class="modal__ingredients">
                <li class="modal__ingredients-item">
                  <svg class="modal__arrow">
                    <use href="./img/symbol-defs.svg#icon-arrow"></use>
                  </svg>
                  <a href="#" class="modal__ingredients-link">Ice</a>
                </li>
                <li class="modal__ingredients-item">
                  <svg class="modal__arrow">
                    <use href="./img/symbol-defs.svg#icon-arrow"></use>
                  </svg>
                  <a href="#" class="modal__ingredients-link">Milk</a>
                </li>
                <li class="modal__ingredients-item">
                  <svg class="modal__arrow">
                    <use href="./img/symbol-defs.svg#icon-arrow"></use>
                  </svg>
                  <a href="#" class="modal__ingredients-link">Water</a>
                </li>
                <li class="modal__ingredients-item">
                  <svg class="modal__arrow">
                    <use href="./img/symbol-defs.svg#icon-arrow"></use>
                  </svg>
                  <a href="#" class="modal__ingredients-link">Sugar</a>
                </li>
                <li class="modal__ingredients-item">
                  <svg class="modal__arrow">
                    <use href="./img/symbol-defs.svg#icon-arrow"></use>
                  </svg>
                  <a href="#" class="modal__ingredients-link">Milk protein</a>
                </li>
                <li class="modal__ingredients-item">
                  <svg class="modal__arrow">
                    <use href="./img/symbol-defs.svg#icon-arrow"></use>
                  </svg>
                  <a href="#" class="modal__ingredients-link">Air</a>
                </li>
                <li class="modal__ingredients-item">
                  <svg class="modal__arrow">
                    <use href="./img/symbol-defs.svg#icon-arrow"></use>
                  </svg>
                  <a href="#" class="modal__ingredients-link">Chocolate / Fruits / Cream</a>
                </li>
              </ul>
            </li>
            <li class="modal__item">
              <h2 class="modal__title">Process</h2>
              <ol class="modal__process-list">
                <li class="modal__process-item">
                  <p class="modal__process-text">Stir milk, cream, and sugar in a saucepan over low heat until sugar has dissolved. Heat just until the mixture is hot and a small ring of foam appears around the edge.</p>
                </li>
                <li class="modal__process-item">
                  <p class="modal__process-text">Transfer cream mixture to a pourable container such as a large measuring cup. Stir in vanilla extract and chill mix thoroughly, at least 2 hours. (Overnight is best.)</p>
                </li>
                <li class="modal__process-item">
                  <p class="modal__process-text">Pour cold ice cream mix into an ice cream maker, turn on the machine, and churn according to manufacturer's directions, 20 to 25 minutes.</p>
                </li>
                <li class="modal__process-item">
                  <p class="modal__process-text">When ice cream is softly frozen, serve immediately or place a piece of plastic wrap directly on the ice cream and place in the freezer to ripen, 2 to 3 hours.</p>
                </li>
              </ol>
            </li>
          </ul>
          <div class="modal__btn-wrap">
            <button data-modal-close type="button" class="modal__btn">Thank you</button>
          </div>
      </div>
  </div>
  </div>
    <ul class="tradition__list">
      <li class="tradition__item">
        <div class="tradition__icon-one">
          <img
            class="tradition__icon"
            src="img/svg/cow-bucket.png"
            alt="cow-bucket"
          />
        </div>
        <span data-aos="flip-down" id="count" class="tradition__number">0</span>
        <p class="tradition__describe">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="tradition__item">
        <div class="tradition__icon-two">
          <img
            class="tradition__icon"
            src="img/svg/apple-bucket.png"
            alt="apple-bucket"
          />
        </div>
        <div class="tradition__num-wrap">
          <span data-aos="flip-down" id="number" class="tradition__number">0</span>
          <p class="tradition__number">KG</p>
        </div>
        <p class="tradition__describe">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="tradition__item">
        <div class="tradition__icon-three">
          <img class="tradition__icon" src="img/svg/candy.png" alt="candy" />
        </div>
        <span data-aos="flip-down" id="numbers" class="tradition__number">0</span>
        <p class="tradition__describe">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>

<script>
  function increaseNumber(id, endValue, increment) {
    let current = 0;
    const element = document.getElementById(id);
    const interval = setInterval(function () {
      current += increment;
      element.textContent = current;
      if (current >= endValue) {
        clearInterval(interval);
      }
    }, 30);
  }

  increaseNumber('count', 721, 5);

  increaseNumber('number', 16, 1);

  increaseNumber('numbers', 84, 1);
</script>
