.cards {
  background-color: $secondaryBackgroundColor;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 82px;
  background-color: $secondaryBackgroundColor;
  position: relative;
  height: 1590px;
}
.card {
  background-color: #ffffff;
  border-radius: 24px;
  box-shadow: 0 8px 30px 0 rgba(212, 20, 67, 0.1);
  padding: 43px 20px;
  width: 220px;
  margin-bottom: 20px;
}
.card__button {
  margin-top: 1490px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card__first-button {
  padding-left: 14px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 20px;
  font-weight: 700;
  font-size: 16px;
  border-radius: 22px;
  background-color: $hoverColor;
  border: none;
  color: $secondaryTextColor;
}
.card__svg-first {
  margin-left: 12px;
  fill: $secondaryTextColor;
}
.card__second-button {
  margin-top: 10px;
  padding-left: 32px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 31px;
  font-weight: 700;
  font-size: 16px;
  border-radius: 22px;
  background-color: $secondaryTextColor;
  border: none;
  color: $hoverColor;
}
.card__svg-second {
  margin-left: 13px;
  fill: $hoverColor;
}
.card__city {
  margin-bottom: 3px;
}
.card__pink {
  color: $firstCardColor;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
}
.card__list-pink {
  width: 145px;
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid $borderColor;
}
.card__first-list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: absolute;
  top: -84px;
}
.card__city {
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0.04em;
  margin-top: 25px;
}
.card__list-city {
  margin-top: 0;
  padding-top: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0.04em;
}
.card__span {
  margin-bottom: 25px;
  border-radius: 4px;
  padding: 2px 35px;
  background-color: $secondCardColor;
  color: $secondaryTextColor;
  font-size: 12px;
  font-weight: 500;
}
.card__title {
  margin-bottom: 25px;
  border-radius: 4px;
  padding: 2px 20px;
  background-color: $thirdCardColor;
  color: $secondaryTextColor;
  font-weight: 500;
  font-size: 12px;
}
.card__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: $textColor;
  padding-bottom: 25px;
  border-bottom: 1px solid $borderColor;
}
.card__list-telephone {
  margin-top: 25px;
}
.card__telephone {
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: $textColor;
}
.card__email {
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: $textColor;
}
.card__citys {
  margin-bottom: 10px;
}
.card__citys {
  margin-bottom: 14px;
  margin-top: 25px;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0.04em;
  color: $primaryTextColor;
}
.card:not(:last-child) {
  margin-bottom: 20px;
}
.card__second-button:hover {
  background-color: $secondaryHoverColor;
}
.card__pinks {
  color: $firstCardColor;
}
.card__first-button {
  margin-right: 14.5px;
  margin-bottom: 0px;
}
.card__pink {
  color: $firstCardColor;
}
.card__text {
  width: 145px;
  font-size: 14px;
}
.card__pink {
  color: $firstCardColor;
}
.card__city {
  margin-bottom: 3px;
}
.card__citys {
  margin-bottom: 14px;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0.04em;
}
.card__span {
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: $secondCardColor;
  color: $secondaryTextColor;
}
.card__title {
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: $thirdCardColor;
  color: $secondaryTextColor;
}
@media screen and (min-width: 768px) {
  .cards{
    height: 600px;
  }
  .card {
    padding: 50px 31px;
    width: 220px;
  }
  .card:not(:last-child) {
    margin-right: 20px;
  }
    .card__first-list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    left: 50px;
    top: -78px;
  }
  .card__button {
    display: flex;
    flex-direction: row;
    align-items: end;
    margin-top: 520px;
  }

}
@media screen and (min-width: 1200px) {
  .cards{
    background-image: url('../img/card/cardback.png');
  }
  .card {
    width: 330px;
    padding: 51px 43px;
  }
  .card:not(:last-child) {
    margin-right: 31px;
  }
  .card__text {
    width: 243px;
    font-size: 12px;
  }
  .card__list-pink {
    width: 243px;
  }
  .card__first-list{
    left: 80px;
    top: -102px;
  }
  .card__button{
    margin-top: 450px;
  }

}
