.footer {
  padding-top: 113px;
}
.footer__text {
  font-family: 'Titan One', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  color: $firstCardColor;
  width: 218px;
  margin-bottom: 20px;
}
.footer__title {
  font-family: 'Titan One', sans-serif;
  font-weight: 400;
  font-size: 34px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $hoverColor;
  width: 165px;
  margin-bottom: 43px;
}
.footer__svg{
    fill: #FEA5BB;
}
.footer__svg:hover,
.footer__svg:focus{
    fill: $hoverColor;
    cursor: pointer;
}
.footer__wrap:hover > p{
    color: $hoverColor;
}
.footer__wrap-text:hover > .footer__phone{
    color: $primaryTextColor;
}
.footer__list {
  display: flex;
  justify-content: end;
  margin-bottom: 46px;
}
.footer__item:not(:last-child) {
  margin-right: 28.24px;
}
.footer__wrap-text {
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  text-align: right;
  color: $primaryTextColor;
  margin-bottom: 43px;
  transition-duration: 450ms;
  cursor: pointer;
}
.footer__phone{
    color: $hoverColor;
    transition-duration: 450ms;
}
.footer__rights{
    border-top: 1px solid $borderColor;
    padding-top: 20px;
    padding-bottom: 27px;
}
.footer__rights-text{
    color: $textColor;
    font-weight: 700;
    font-size: 14px;
    line-height: 152%;
    text-align: center;
    width: 139px;
    margin: 0 auto;
}

@media screen and (min-width: 768px){
    .footer{
        margin-top: 158px;
    }
    .footer__first-wrap{
        display: flex;
        align-items: start;
        justify-content: space-around;
    }
    .footer__list{
        display: flex;
    }
    .footer__text{
        margin-bottom: 16px;
        font-size: 26px;
        letter-spacing: 0.04em;
        width: 340px;
    }
    .footer__rights-text{
        width: 300px;
        line-height: 186%;
        letter-spacing: 0.02em;
    }
    .footer__rights{
        padding-top: 22px;
        padding-bottom: 25px;
    }
    .footer__title{
        font-size: 48px;
        letter-spacing: 0.06em; 
        margin-bottom: 91px;
    }
    .footer__wrap-text{
        font-size: 14px;
    }
}

@media screen and (min-width: 1200px){
    .footer{
        margin-top: 165px;
    }
    .footer__text{
        margin-bottom: 15px;
        font-size: 30px;
        width: 472px;
    }
    .footer__list{
        margin-bottom: 50px;
    }
    .footer__rights{
        padding-top: 9px;
        padding-bottom: 11px;
    }
    .footer__title{
        font-size: 58px;
        margin-bottom: 97px;
        width: 500px;
    }
    .footer__wrap-text{
        font-size: 16px;
    }
}