.header {
  background-color: $firstCardColor;
  background-image: url(../../img/header/ice-cream@1x.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 346px;
  padding-top: 37px;
  padding-bottom: 160px;
}

.header__desktop {
  display: none;
}

.header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__button {
  text-align: center;
  border-radius: 22px;
  border: none;
  background-color: $secondaryTextColor;
  color: $hoverColor;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  padding: 11px 37px;
  display: none;
}

.header__arrow {
  fill: $hoverColor;
  transform: rotate(90deg);
  margin-left: 12px;
  transition: transform 500ms ease-in-out, fill 500ms ease-in-out;
}

.header__burger-button {
  background-color: transparent;
  border: none;
  margin-left: 61px;
}

.header__button:hover,
.header__button:focus {
  background-color: $hoverColor;
  color: $secondaryTextColor;
  .header__arrow{
  transform: rotate(180deg);
  fill: $secondaryTextColor;
}
}

.header__white-text {
  font-weight: 400;
  font-size: 26px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $secondaryTextColor;
  font-family: 'Titan One', sans-serif;
  display: flex;
  flex-direction: column;
  margin-top: 137px;
  margin-bottom: 19px;
  max-width: 218px;
}

.header__red-text {
  color: $hoverColor;
  letter-spacing: 0.04em;
  font-size: 48px;
  line-height: 96%;
}

.header__white-button {
  background-color: $secondaryTextColor;
  color: $hoverColor;
  text-align: center;
  border-radius: 50px;
  border: none;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 8px;
  padding: 11px 12px;
  margin-right: 8px;
  cursor: pointer;
}

.header__red-button {
  background-color: $hoverColor;
  color: $secondaryTextColor;
  text-align: center;
  border-radius: 50px;
  border: none;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 8px;
  padding: 11px 12px;
  cursor: pointer;
}

.menu-toggle {
  border: none;
  background-color: #e17992;
}

.menu__close {
  display: flex;
  justify-content: right;
  padding-right: 28px;
  cursor: pointer;
  
}

.mobile-menu__icon-close {
  fill: $secondaryTextColor;
  transition: fill 500ms ease-in-out;
}
.menu__close:hover{
  .mobile-menu__icon-close {
      fill: $hoverColor;
    }
}
.mobile__button {
  text-align: center;
  border-radius: 22px;
  border: none;
  background-color: $secondaryTextColor;
  color: $hoverColor;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  padding: 11px 49px;
  display: flex;
  align-items: center;
  transition: background-color 500ms ease-in-out, color 500ms ease-in-out;
}

.mobile__button-wraper {
  padding-bottom: 19px;
  border-bottom: 1px solid #e18298;
  display: flex;
  justify-content: center;
}

.mobile__button:hover,
.mobile__button:focus {
  background-color: $hoverColor;
  color: $secondaryTextColor;
  .header__arrow{
    transform: rotate(180deg);
    fill: $secondaryTextColor;
  }
}

.mobile__item {
  margin-top: 23px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e18298;
}

.mobile__link {
  color: $secondaryTextColor;
  font-size: 14px;
  font-weight: 700;
  transition: color 500ms ease-in-out;
}

.mobile__link:hover,
.mobile__link:focus {
  color: $hoverColor;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  z-index: 999;
  background-color: #e17992;
  transform: translateX(100%);
  transition-duration: 250ms;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16),
    0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
}

.menu-container.is-open {
  transform: translateX(0);
}


.header__nav-link {
  color: $secondaryTextColor;
  padding-right: 35px;
  transition: color 500ms ease-in-out;
}

.header__nav-link:hover,
.header__nav-link:focus {
  color: $hoverColor;
}

.header__circle {
  border-radius: 100px;
  background-color: $secondaryTextColor;
  width: 30px;
}

.header__number {
  font-family: 'Titan One', sans-serif;
  font-weight: 400;
  font-size: 46px;
  color: $hoverColor;
}

.header__text {
  font-weight: 400;
  font-size: 14px;
  font-family: 'DM Sans', sans-serif;
  color: $secondaryTextColor;
}

.header__nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .header {
    background-position: 75%;
    background-size: 450px;
    padding-bottom: 28px;
  }
  

  .header__main-text {
    font-weight: 400;
    font-size: 8px;
    line-height: 150%;
    color: $secondaryTextColor;
    width: 106px;
    margin-bottom: 7px;
  }

  .header__button {
    padding: 13px 40px;
    display: flex;
    align-items: center;
    position: absolute;
    font-weight: 700;
    right: 34px;
    top: 37px;
    font-size: 16px;
    transition: background-color 500ms ease-in-out, color 500ms ease-in-out;
  }

  .header__white-text {
    font-size: 34px;
    padding-top: 15px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .header__nav {
    font-family: 'DM Sans', sans-serif;
    padding-left: 110px;
    font-weight: 700;
    font-size: 16px;
  }

  .header__desktop {
    display: block;
  }

  .header__list-button {
    margin-bottom: 19px;
  }
  .header__circle {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: $secondaryTextColor;
    z-index: -1;
    position: absolute;
    right: 0;
  }
  .header__number-list {
    z-index: 2;
    position: relative;
    width: 55px;
  }
  .header__number-wrap{
    position: absolute;
    right: 34px;
    top: 110px;
  }
  .tasty{
    position: absolute;
    right: 34px;
    top: 318px;
  }
  .header__mini-wrap{
    display: flex;
    align-items: center;
  }
  .header__main-info{
    display: flex;
    flex-direction: column;
    margin-bottom: -40px;
  }
  .header__burger-button{
    margin-right: 160px;
  }
  .menu-container{
    width: 280px;
    transform: translateX(-100%);
    padding: 23px 34px;
  }
  .menu-toggle{
    margin-bottom: 20px;
    margin-left: 10px;
  }
  .header__girl{
    width: 168px;
  }
  
}
@media screen and (min-width: 1200px) {
  .header__burger-button{
    display: none;
  }
  .header__nav{
    display: block;
    padding-top: 13px;
  }
  .header__nav-list{
    display: flex;
    justify-content: space-evenly;
  }
  .header__wrap{
    display: flex;
  }
  .header__button{
    margin-right: 65px;
  }
  .header__number-wrap{
    right: 97px;
  }
  .header__number{
    font-size: 46px;
  }
  .header__number-item:first-child{
    margin-bottom: 15px;
    padding-top: 50px;
  }
  .header__text{
    min-width: 74px;
    font-size: 14px;
  }
  .header__girl{
    width: 293px;
  }
  .header{
    background-size: 500px;
    background-position: bottom;
  }
  .header__main-text{
    font-size: 14px;
    line-height: 140%;
    min-width: 200px;
  }
  .header__button-arrow{
    width: 26px;
    height: 26px;
    margin-top: 20px;
  }
  .header__main-info{
    padding-left: 15px;
  }
  .header__red-button{
    font-size: 14px;
    margin-right: 17px;
    padding: 15px 20px;
    
  }
  .header__white-button{
    font-size: 14px;
    padding: 15px 20px;
  }
  .header__logo{
    margin-left: 26px;
  }
  .header__text-button{
    margin-left: 95px;
    margin-top: 84px;

  }
  .header__mini-wrap{
    margin-left: 57px;
  }
  .header__white-text{
    margin-bottom: 25px;
    padding-bottom: 0;
  }
  .tasty{
    top: 386px;
  }
}
