 .header {
     background-color: $firstCardColor;
     background-image: url(../../img/header/ice-cream@1x.png);
     background-repeat: no-repeat;
     background-position: right;
     background-size: 346px;
     display: flex;
     padding-bottom: 160px;
     justify-content: start;
    
 }
.header__container{
    padding: 0 15px;
}

 .header__desktop {
     display: none;
 }

 .header__nav {
     font-family: "DM Sans", sans-serif;
     padding-left: 110px;
     font-weight: 700;
     font-size: 16px;
     display: none;
 }
//  .header__burger{
//     fill: $hoverColor;
//     position: relative;
//     right: 20px;
//  }
.header__logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 760px;
    min-width: 360px;
}

 .header__nav-link {
     color: $secondaryTextColor;
 }

 .header__nav-link:hover,
 .header__nav-link:focus {
     color: $hoverColor;
 }

 .header__button {
     width: 159px;
     height: 44px;
     text-align: center;
     border-radius: 50px;
     border: none;
     background-color: $secondaryTextColor;
     color: $hoverColor;
     font-family: "DM Sans", sans-serif;
     font-weight: 700;
     display: none;
 }

 .header__button:hover,
 .header__button:focus {
     background-color: $hoverColor;
     color: $secondaryTextColor;
 }

 .header__white-text {
     font-weight: 400;
     font-size: 26px;
     letter-spacing: 0.04em;
     text-transform: uppercase;
     color: $secondaryTextColor;
     font-family: "Titan One", sans-serif;
     display: flex;
     flex-direction: column;
     width: 180px;
     margin-top: 137px;
     margin-bottom: 19px;
 }

 .header__red-text {
     color: $hoverColor;
     letter-spacing: 0.04em;
     font-size: 48px;
     line-height: 96%;
 }

 .header__white-button {
     background-color: $secondaryTextColor;
     color: $hoverColor;
     text-align: center;
     border-radius: 50px;
     border: none;
     font-family: "DM Sans", sans-serif;
     font-weight: 400;
     font-size: 8px;
     padding: 11px 12px;
     margin-right: 8px;
 }

 .header__red-button {
     background-color: $hoverColor ;
     color: $secondaryTextColor;
     text-align: center;
     border-radius: 50px;
     border: none;
     font-family: "DM Sans", sans-serif;
     font-weight: 400;
     font-size: 8px;
     padding: 11px 12px;
 }

//  modal-menu
.menu-toggle{
    position: relative;
    right: 28px;
    border: none;
    display: block;
    background-color: $firstCardColor;
}
.mobile__button{
        text-align: center;
        border-radius: 22px;
        border: none;
        background-color: $secondaryTextColor;
        color: $hoverColor;
        font-family: "DM Sans", sans-serif;
        font-weight: 700;
        font-size: 16px;
        padding: 11px 49px;
}
.mobile__button-wraper{
    padding-bottom: 19px;
    border-bottom: 1px solid #e18298;
    max-width: 480px;
    display: flex;
    justify-content: center;
}
.mobile__button:hover,
.mobile__button:focus{
    background-color: $hoverColor;
    color: $secondaryTextColor;
}
.mobile__item{
    margin-top: 23px;
    padding-bottom: 16px;
    border-bottom: 1px solid #e18298;
}
.mobile__link{
    color: $secondaryTextColor;
    font-size: 14px;
    font-weight: 700;
}
.mobile__link:hover,
.mobile__link:focus{
    color: $hoverColor;
}
.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 48px 40px;
    z-index: 1;
    background-color: #e17992;
    transform: translateX(100%);
    transition-duration: 250ms;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16), 0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-button-open {
    position: absolute;
    right: 15px;
    top: 25px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 10px;
}

