.photo{
    position: relative;
    bottom: 60px;
    display: flex;
    justify-content: center;
}
@media screen and (min-width: 768px) {
  .photo{
    bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .photo{
    bottom: 157px;
    justify-content: baseline;
  }
}
