.photo{
    position: relative;
    bottom: 50px;
    display: flex;
    justify-content: center;
}
.photo__wrap {
  width: 364px;
  height: 122px;
}
@media screen and (min-width: 768px) {
  .photo{
    bottom: 105px;
  }
    .photo__wrap {
    width: 786px;
    height: 264px;
  }
}
@media screen and (min-width: 1200px) {
  .photo{
    bottom: 170px;
    justify-content: baseline;
  }
    .photo__wrap {
    width: 1280px;
    height: 430px;
  }
}
