.photo{
    position: relative;
    bottom: 50px;
    display: flex;
    justify-content: center;
}
@media screen and (min-width: 768px) {
  .photo{
    bottom: 105px;
  }
}
@media screen and (min-width: 1200px) {
  .photo{
    bottom: 170px;
    justify-content: baseline;
  }
}
