.product {
  padding-top: 121px;
  padding-bottom: 96px;
}

.product__subtitle {
  @include spanmb;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin: 0 auto;
  color: #ffb8ca;
}

.product__title {
  @include titlemb;
  text-transform: uppercase;
  text-align: center;
  color: #d41443;
  padding-bottom: 31px;
}

.product__name {
  font-family: 'Titan One', sans-serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding-top: 24px;
}

.product__title {
  font-family: 'Titan One', sans-serif;
  font-weight: 400;
  font-size: 34px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #d41443;
  padding-bottom: 31px;
}

.product__name {
  font-family: 'Titan One', sans-serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding-top: 200px;
}

.product__text {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 176%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  padding-right: 40px;
  padding-left: 40px;
}

.product__cream {
  margin-top: 130px;
  position: relative;
  background-color: #ffb8ca;
  border-radius: 24px;
  width: 280px;
}

.product__coffee {
  margin-top: 130px;
  position: relative;
  background-color: #f0d1a5;
  border-radius: 24px;
  width: 280px;
}

.product__milkshakes {
  margin-top: 129px;
  position: relative;
  background-color: #c2e297;
  border-radius: 24px;
  width: 280px;
}

.product__link {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__img {
  display: block;
  justify-content: space-between;
  position: absolute;
  bottom: 440px;
}

.product__item {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product__button {
  padding-top: 30px;
  padding-bottom: 41px;
  margin: 0 auto;
  cursor: pointer;
}

.product__button:hover{
  animation-name: chCream;
  animation-duration: 800ms;
}

@keyframes chCream{
  0%{
    rotate: 0deg;
  }
  50%{
    rotate: 180deg;
  }
  100%{
    rotate: 360deg;
  }
}

@media screen and (min-width: 767px) {
  .product__coffee {
    width: 220px;
  }
  .product__cream {
    width: 220px;
  }
  .product__milkshakes {
    width: 220px;
  }
  .product__subtitle {
    @include spantb;
  }
  .product__title {
    @include titletb;
  }
  .product__item {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  .product__name {
    padding-top: 140px;
    font-size: 20px;
  }
  .product__text {
    font-size: 14px;
  }
  .product__img {
    bottom: 450px;
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .product__coffee {
    width: 329px;
  }
  .product__cream {
    width: 329px;
  }
  .product__milkshakes {
    width: 329px;
  }
  .product__name {
    font-size: 30px;
  }
  .product__text {
    font-size: 16px;
  }
  .product__subtitle {
    @include spanpc;
  }
  .product__title{
    @include titlepc;
  }
  .product__item {
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
  }
  .product__cream {
    background-color: #ffb8ca;
    border-radius: 24px;
    width: 335px;
    margin-top: 144px;
    position: relative;
  }
  .product__coffee {
    background-color: #f0d1a5;
    border-radius: 24px;
    width: 335px;
    position: relative;
  }
  .product__milkshakes {
    background-color: #c2e297;
    border-radius: 24px;
    width: 335px;
    margin-top: 130px;
    position: relative;
  }
  .product__link {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product__item {
    display: flex;
    align-items: center;
  }
  .product__button {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
    cursor: pointer;
  }
  .product__img {
    bottom: 370px;
  }
}
