.product {
    padding-top: 121px;
    padding-bottom: 96px;
}

.product__subtitle {
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    color: $firstCardColor;
}

.product__title {
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-size: 34px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: $hoverColor;
    padding-bottom: 31px;
}

.product__name {
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: $secondaryTextColor;
    padding-top: 24px;
}

.product__img {
    display: flex;
    justify-content: space-between;
}

.product__text {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 176%;
    letter-spacing: 0.04em;
    text-align: center;
    color: $secondaryTextColor;
}

.product__cream {
    background-color: $firstCardColor;
    border-radius: 24px;
    width: 280px;
    margin-bottom: 17px;
}

.product__coffee {
    background-color: $secondCardColor;
    border-radius: 24px;
    width: 280px;
}

.product__milkshakes {
    background-color: $thirdCardColor;
    border-radius: 24px;
    width: 280px;
    margin-top: 16px;
}

.product__link {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product__button{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 120px;
    cursor: pointer;
}